ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 15px;
}
li {
  list-style-type: none;
  padding-top: 8px;
  font-weight: 800;
}
a:link {
  color: rgba(0, 0, 119, 0.901);
  text-decoration: none;
}
a:visited {
  color: rgba(0, 72, 40, 0.901);
}
a:hover {
  color: rgba(0, 0, 164, 0.901);
}
a:active {
  color: rgba(3, 55, 20, 0.901);
}

body {
  background-image: url(./images/bg.jpg);
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon
{
  opacity: 100%;
}

.nav-link
{
  color: #F9C61F !important;
}
.nav-link:hover
{
  color: #b8872b !important;
}

.header {
  border: 5px solid #FF7C2C;
  background-color: #F9C61F;
  opacity: 70%;
  text-align: center;
}

.services
{
  padding: 15px;
  border: 3px solid #F9C61F;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col6
{
  margin-left: 25px;
}

.menu {
  font-size: 25px;
  background-color: #000000;
  opacity: 60%;
}
.center
{
  text-align: center;
}

.footer
{
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 6em;
  text-align: center;
}